<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">
            <p class="text-center"><%= link_to "New Assessment", new_assessment_path, class: "btn btn-primary" %></p>
            
            <hr>
            <% @assessments.each do |assessment| %>
                
                    <div class="card mt-2">
                        <div class="card-header <%= assessment.score < 9 ? assessment.score < 5 ? "bg-danger" : "bg-warning" : "bg-success" %>">
                            <strong><%= assessment.candidate_full_name %></strong>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Overall score of <strong><span class="<%= assessment.score < 9 ? assessment.score < 5 ? "text-danger" : "text-warning" : "text-success" %>"><%= assessment.score %></span>/<strong>12</strong> </h5>
                            <% answers = [assessment.q1_correct, assessment.q2_correct, assessment.q3_correct, assessment.q4_correct,assessment.q5_correct, assessment.q6_correct, assessment.q7_correct, assessment.q8_correct, assessment.q9_correct, assessment.q10_correct, assessment.q11_correct, assessment.q12_correct, assessment.q13_correct] %>
                            <% answers.map! do |a| %>
                                <% if a == "Wrong" %>
                                    <% 'ðŸ˜­' %>
                                <% elsif a == "Almost" %>
                                    <% 'ðŸ˜‘' %>
                                <% else %>
                                    <% 'ðŸ˜' %>
                                <% end %>
                            <% end %>
                            <% theory = [assessment.q1_correct, assessment.q2_correct, assessment.q3_correct] %>
                            <% theory_score = theory.count('Correct') + (theory.count('Almost') / 2.0) %>
                            <% dtype = [assessment.q4_correct,assessment.q5_correct, assessment.q6_correct, assessment.q7_correct, assessment.q8_correct] %>
                            <% dtype_score = dtype.count('Correct') + (dtype.count('Almost') / 2.0) %>
                            <% oop = [assessment.q9_correct, assessment.q10_correct, assessment.q11_correct, assessment.q12_correct, assessment.q13_correct] %>
                            <% oop_score = oop.count('Correct') + (oop.count('Almost') / 2.0) %>
                            <div class="d-flex align-items-center justify-content-between text-center pt-1 pb-1 pl-3 pr-3">
                                <div>
                                    <p>Theory</p>
                                    <p><strong><span class="<%= theory_score < 2.5 ? theory_score < 1.5 ? "text-danger" : "text-warning" : "text-success" %>"><%= theory_score %>/3</span></strong></p>
                                </div>
                                <div>
                                    <p>DataType</p>
                                    <p><strong><span class="<%= dtype_score < 3 ? dtype_score < 2 ? "text-danger" : "text-warning" : "text-success" %>"><%= dtype_score %>/4</span></strong></p>
                                </div>
                                <div>
                                    <p>OOP</p>
                                    <p><strong><span class="<%= oop_score < 4.5 ? oop_score < 3 ? "text-danger" : "text-warning" : "text-success" %>"><%= oop_score %>/5</span></strong></p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between text-center">
                                <a href="<%= assessment.ats_link %>" target="_blank" class="btn btn-primary">ATS Application</a>
                                <a href="<%= assessment_path(assessment) %>" class="btn btn-secondary">Details</a>
                            </div>
                        </div>
                    </div>
                
            <% end %>
        </div>
    </div>
</div>